Flask==2.1.0
gunicorn==20.0.4
jaeger-client
prometheus-client
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation
opentelemetry-sdk
prometheus-flask-exporter
pylint==2.4.0
requests==2.23.0